@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar-arrows::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 4px;
        height: 100%;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #f1f1f1;  
        border-radius: 10px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        border-radius: 10px;
        @apply bg-stone-700;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        @apply bg-stone-900;
        cursor: default;
    }
}